<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>       
     
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>

<h1>Pracs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pracs.each do |prac| %>
      <tr>
        <td><%= prac.name %></td>
        <td><%= link_to 'Show', prac %></td>
        <td><%= link_to 'Edit', edit_prac_path(prac) %></td>
        <td><%= link_to 'Destroy', prac, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prac', new_prac_path %>
